body {
    background-color: #093131;
    height: 1000%;
    background-image:none

}

#loginStyle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;

}

#davePic {
    border-bottom-left-radius: 128px; 
    margin-left: auto;
    width: 80%;
    height: 80%;



}

.main {
        height: 100vh;
        perspective: 2px;
        overflow-x: hidden;
  }
  
  .section {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .static-one {
    background-color: #020424;
  }
  
  .static-two {
    background-color: #020424;
  }
  
  .static-three {
    background-color: #4b0b1d;
  }
  
  .parallax::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-size: cover;
    transform: translateZ(-1px) scale(1.7);
    z-index: -1;
  }
  
  .parallax-one::after {
    background-image: url(1.jpg);
    opacity: 80%;
  }
  
  .parallax-two::after {
    background-image: url(2.jpg);
    opacity: 80%;
  }
  
  .parallax-two::after {
    background-image: url(3.jpg);
    opacity: 80%;
  }
  
  .parallax-two::after {
    background-image: url(4.jpg);
  }
  
  /* .parallax-two::after {
    background-image: url(5.jpg);
  }
  
  .parallax-two::after {
    background-image: url(6.jpg);
  }
  
  .parallax-two::after {
    background-image: url(7.jpg);
  }
  
  .parallax-two::after {
    background-image: url(8.jpg);
  }
  
  .parallax-two::after {
    background-image: url(9.jpg);
  }
  
  .parallax-two::after {
    background-image: url(10.jpg);
  } */

#headerText {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 24px;
    margin: 25px;
    background-color: rgb(3, 18, 31);   
    line-height: 50px;    
    color: white;
    border-style: groove;
    border-radius: 12px;
    border-color: rgb(218, 218, 128);
}

#nameStyle {
    background-color: rgb(31, 31, 3);   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 24px;
    text-align: center;
        border-radius: 5px;
    border-bottom-left-radius: 18px;
    color: white;
    border-style: groove;
    border-color: rgb(218, 218, 128);
    align-content: center;  

}

#redButtons, #fieldStyle {
    background-color: #020424;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 16px;
    color: aliceblue;
    border-style: groove;
    border-radius: 12px;
}

body.intro::first-letter {
    font-size: 100px;
    display: block;
    float: left;
    line-height: .5;
    margin: 15px 15px 10px 0;
}

#eduID {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 16px;
    color: rgb(250, 250, 248);
    background-color: rgb(3, 18, 31);
    border-radius: 5px;
    border-style: groove;
    line-height: 25px;
    font-size: 1rem;
    width: 100%;
    border-color: rgb(218, 218, 128);


}

#workXP {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 16px;
    color: rgb(250, 250, 248);
    background-color: rgb(3, 18, 31);
    border-radius: 5px;
    border-style: groove;
    line-height: 25px;
    font-size: 1rem;
    width: 100%;
    border-color: rgb(218, 218, 128);

}


#fieldStyle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 16px;
    font-size: 18px;
    text-align: left;
    border-bottom-left-radius: 18px;
    border-style: groove;

}

#footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 16px;
    font-size: 14px;
    color: rgb(253, 250, 250);
    background-color: rgb(3, 18, 31);   
    border-radius: 25px;
    border-style: groove;
    border-color: rgb(218, 218, 128);

}

#fieldStyle {
    width: 25%;


}