body {
    background-color: rgb(37, 37, 185);

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: 20px gold;
    border-radius: 5px;
    border-bottom-left-radius: 18px;
    border-style: groove;

}

#headerText {
    text-align: center;
    margin: 25px;
    background-color: rgb(3, 18, 31);   
    line-height-step: 1.5;
    border-bottom-left-radius: 18px;
    color: white;
}

#nameStyle {
    background-color: rgb(3, 18, 31);   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 5px;
    border-bottom-left-radius: 18px;
    color: white;
    initial-letter: 48px;
    border-style: groove;

}

#workXP {
    text-indent: 12px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(250, 250, 248);
    background-color: rgb(3, 18, 31);
    border-radius: 5px;
    border-spacing: 5px;
    border-style: groove;
    border-bottom-left-radius: 18px;
    font-size: 1rem;
    width: 50%;
    margin:left;
}

p.intro::first-letter {
    font-size: 100px;
    display: block;
    float: left;
    line-height: .5;
    margin: 15px 15px 10px 0;
}

#eduID {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: rgb(250, 250, 248);
    background-color: rgb(3, 18, 31);
    border-radius: 5px;
    border-spacing: 5px;
    border-style: groove;
    border-bottom-left-radius: 18px;
    overflow-wrap: break-word;
    line-height: 25px;

}

#xpID {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(250, 250, 248);
    background-color: rgb(3, 18, 31);   
    border-radius: 5px;
    border-style: groove;
    line-height: 25px;
    font-size: 1rem;
    width: 50%;
    margin:left;
    }


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: left;
    border-bottom-left-radius: 18px;
    border-style: groove;

}

#footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(253, 250, 250);
    background-color: rgb(3, 18, 31);   
    border-radius: 10px;
    border-style: groove;
    border-color: grey;  
    border-bottom-left-radius: 18px;
    overflow-wrap: break-word;

}

#buttonPlay {

}